            <div class="row">
                <div class="col-lg-12">
               

                    <font size="4"><b>Openingsfeest in de Sint-Katharinakerk:</b></font><br/>
                    <font size="2">
                    Vasiliki Chanou (sopraan), Katherine Rooman (blokfluit), Christine Lejeune (viola da gamba) en Koen Vlaeyen (clavecimbel) brachten onder de noemer ‘Exhuberans’ een programma van 17de- eeuwse muziek. 

                     </font>
                    <br/><br/>
                    <font size="4"><b>Het hooggotische koor van de Sint-Katharinakerk:</b></font><br/>
                    <font size="2">
                    De rondleiding was een drieluik. Eerst was er een geleid bezoek aan de tentoonstelling over de bouw van het koor met onder meer middeleeuwse beelden en maquettes. Dan volgde een rondleiding in het koor zelf en een exclusief bezoek aan de dakconstructie en het gotische koorgewelf. Als afsluiter genoot men van ‘gewijde gezangen’, gebracht door verschillende Tervuurse koren.  <br/>


                    </font>
                    <br/><br/>
                    <font size="4"><b>De nieuwe watertoren van Duisburg:</b></font><br/>
                    <font size="2">
                    De nieuwe watertoren werd speciaal voor Open Monumentendag opengesteld door de Vlaamse Maatschappij voor Watervoorziening.<br/>


</font>
                    <br/><br/>
                    <font size="4"><b>Serrebouw in Duisburg:</b></font><br/>
                    <font size="2">
                   Men kreeg inzicht in verschillende soorten serreconstructies. Achteraf kon er een lekkere druif geproefd worden.<br/>


                            
                            </font>

                    <br/><br/>
                    
                
                <div class="headerFooter">

                  <img alt="Toerisme Tervuren" src="http://sites.google.com/site/omdtervuren/logoToerismeTervuren.png">
                  <img alt="Tervuren - verrassend veelzijdig" src="http://sites.google.com/site/omdtervuren/logoTervuren.png">	  
                  <img alt="Provincie Vlaams-Brabant" src="http://sites.google.com/site/omdtervuren/logoVlaamsBrabant.png">
                  <!--<img src="http://www.omdtervuren.be/academie.png?attredirects=0&d=1" alt="Academie voor podiumkunsten"/>-->
                  <img alt="Open Monumenten Dag Vlaanderen" src="http://sites.google.com/site/omdtervuren/logoOMDVlaanderen.png">    
                  <!--<img src="http://www.omdtervuren.be/LogoPasar.png?attredirects=0&d=1" alt="Pasar"/>-->
                </div>
                
                
                </div>
        </div>
