            <div class="row">
                <div class="col-lg-12">
               

                    <font size="4"><b>Openingsfeest in de Sint-Katharinakerk:</b></font><br/>
                    <font size="2">
                    Vasiliki Chanou (sopraan), Katherine Rooman (blokfluit), Christine Lejeune (viola da gamba) en Koen Vlaeyen (clavecimbel) brengen onder de noemer ‘Exhuberans’ een programma van 17de- eeuwse muziek. 
<br/><br/>
za 9/9 om 19 u<br/>
Sint-Katharinakerk, Kerkplein, Duisburg<br/>
gratis<br/>
reserveren verplicht: reservaties.tervuren.be

                     </font>
                    <br/><br/>
                    <font size="4"><b>Het hooggotische koor van de Sint-Katharinakerk:</b></font><br/>
                    <font size="2">
                    De rondleiding is een drieluik. Eerst is er een geleid bezoek aan de tentoonstelling over de bouw van het koor met onder meer middeleeuwse beelden en maquettes. Dan volgt een rondleiding in het koor zelf en een exclusief bezoek aan de dakconstructie en het gotische koorgewelf. Als afsluiter geniet je van ‘gewijde gezangen’, gebracht door verschillende Tervuurse koren.  <br/>

<br/>zo 10/9, gidsbeurten om 10 u, 11 u, 12 u, 13 u, 14 u, 15 u, 16 u, 17 u, duur rondleiding 1 uur  <br/>
Sint-Katharinakerk, Kerkplein, Duisburg<br/>
gratis (max. 20 personen per groep)<br/>
reserveren verplicht: reservaties.tervuren.be

                    </font>
                    <br/><br/>
                    <font size="4"><b>De nieuwe watertoren van Duisburg:</b></font><br/>
                    <font size="2">
                    De watertorens zijn een vertrouwd gezicht voor elke inwoner van Duisburg, maar de binnenkant van dergelijke torens is meestal een groot mysterie. Benieuwd hoe een watertoren er vanbinnen uitziet? Mis dit dan niet. De nieuwe watertoren wordt speciaal voor Open Monumentendag opengesteld door de Vlaamse Maatschappij voor Watervoorziening.<br/>

<br/>zo 10/9, gidsbeurten om 10 u, 10.30 u, 11 u, 11.30 u, 14 u, 14.30 u, 15 u, 15.30 u , duur rondleiding 30 minuten  <br/>
Schonenboomstraat, Duisburg<br/>
gratis  (max. 15 deelnemers per groep)<br/>
reserveren verplicht: reservaties.tervuren.be<br/>

</font>
                    <br/><br/>
                    <font size="4"><b>Serrebouw in Duisburg:</b></font><br/>
                    <font size="2">
                   Serres bepalen het uitzicht van het Duisburgse landschap. Sinds het einde van de 19de eeuw is druiventeelt een bron van rijkdom voor de regio. Met de crisis in de jaren zeventig en tachtig zijn heel wat druiventelers overgeschakeld op bloementeelt onder glas. Je krijgt inzicht in verschillende soorten serreconstructies. Achteraf kan er een lekkere druif geproefd worden.<br/>

<br/>zo 10/9, gidsbeurten om 10 u, 11 u, 12 u, 13 u, 14 u, 15 u, 16 u, 17 u , duur rondleiding 1 uur  <br/>
Kapucienenstraat 13, Duisburg<br/>
gratis  (max. 25 deelnemers per groep)<br/>
reserveren verplicht: reservaties.tervuren.be<br/>

                            
                            </font>

                    <br/><br/>
                    
                
                <div class="headerFooter">

                  <img alt="Toerisme Tervuren" src="http://sites.google.com/site/omdtervuren/logoToerismeTervuren.png">
                  <img alt="Tervuren - verrassend veelzijdig" src="http://sites.google.com/site/omdtervuren/logoTervuren.png">	  
                  <img alt="Provincie Vlaams-Brabant" src="http://sites.google.com/site/omdtervuren/logoVlaamsBrabant.png">
                  <!--<img src="http://www.omdtervuren.be/academie.png?attredirects=0&d=1" alt="Academie voor podiumkunsten"/>-->
                  <img alt="Open Monumenten Dag Vlaanderen" src="http://sites.google.com/site/omdtervuren/logoOMDVlaanderen.png">    
                  <!--<img src="http://www.omdtervuren.be/LogoPasar.png?attredirects=0&d=1" alt="Pasar"/>-->
                </div>
                
                
                </div>
        </div>
