            <div class="row">
                <div class="col-lg-12">
               

                    <font size="4"><b>Geleide wandelingen langs uniek alledaags erfgoed:</b></font><br/>
                    <font size="2">
                    - Elisabethlaan, van voetweg naar koninklijke straat met buitenhuizen van de Brusselse burgerij
- De Hertenberg, een historisch geladen site ten zuiden van Tervuren
- Kerkplaats Duisburg en omgeving, op de kruising van twee Romeinse wegen
- Dorpsplein Vossem en omgeving, een beschermd dorpsgezicht op een steenworp van de Voer

Bij elke wandeling wordt er ook een bezoek gebracht aan een opengestelde site.
Gidsbeurten om 10u, 11u, 12u, 13u, 14u, 15u, 16u, 17u
Duur rondleidingen: 1u
Maximum aantal deelnemers: 20/groep
Vooraf inschrijven verplicht. Deelname is gratis. Inschrijven kan vanaf maandag 1 augustus via reservaties.tervuren.be.

                     </font>
                    <br/><br/>
                    <font size="4"><b>M-bassadeurs 2016</b></font><br/>
                    <font size="2">
                    De Monumenten-Ambassadeurs van Tervuren, allen tussen 9 en 14 jaar, bundelden hun krachten om het complex van het verdwenen hertogelijke kasteel van Tervuren en van het hoefijzer in een grootse maquette te reconstrueren. 

Van 10u tot 18u in het toeristisch bezoekerscentrum, Markt 7b – Tervuren.

                    </font>
                    <br/><br/>
                    <font size="4"><b>Monumenten op maat van het gezin</b></font><br/>
                    <font size="2">
                    Een interactieve en speelse verkenning van de architectuur in Tervuren, op maat van gezinnen met kinderen, speciaal voor deze Open Monumentendag bedacht.

van 10u tot 18u, routeboekje verkrijgbaar in het toeristisch bezoekerscentrum, Markt 7b – Tervuren.

                    </font>

                    <br/><br/>
                    
                
                <div class="headerFooter">

                  <img alt="Toerisme Tervuren" src="http://sites.google.com/site/omdtervuren/logoToerismeTervuren.png">
                  <img alt="Tervuren - verrassend veelzijdig" src="http://sites.google.com/site/omdtervuren/logoTervuren.png">	  
                  <img alt="Provincie Vlaams-Brabant" src="http://sites.google.com/site/omdtervuren/logoVlaamsBrabant.png">
                  <!--<img src="http://www.omdtervuren.be/academie.png?attredirects=0&d=1" alt="Academie voor podiumkunsten"/>-->
                  <img alt="Open Monumenten Dag Vlaanderen" src="http://sites.google.com/site/omdtervuren/logoOMDVlaanderen.png">    
                  <!--<img src="http://www.omdtervuren.be/LogoPasar.png?attredirects=0&d=1" alt="Pasar"/>-->
                </div>
                
                
                </div>
        </div>
